<div class="container">
  <center><h1 id="info">インフォメーション</h1></center>
    <hr>
      <ul>


<!--ここから-->      
          <dl>  
            <dt>2016.9.3</dt>
              <dd>
                <p>本日からいよいよスタートです。
                <br>どうぞ宜しくお願い致します。</p>
              </dd>
          </dl>
        <hr>      
<!--ここまで-->  

<!--ここから-->      
          <dl>  
            <dt>2016.8.28</dt>
              <dd>
                <p>本日、皆様のご協力のもと、β版を改良しました。
                <br>どうぞ宜しくお願い致します。</p>
              </dd>
          </dl>
        <hr>      
<!--ここまで-->        

<!--ここから-->      
          <dl>  
            <dt>2016.8.21</dt>
              <dd>
                <p>本日、β版をリリースしました。
                <br>どうぞ宜しくお願い致します。</p>
              </dd>
          </dl>
        <hr>      
<!--ここまで-->

<!--ここから-->
          <dl>  
            <dt>2016.6.26</dt>
              <dd>
                <p>皆様がお持ちの、ファーストフード店の対応情報を是非ご投稿下さい。
                <br>皆んなで情報を共有し利用しやすい店になってもらいましょう。</p>
              </dd>
          </dl>
        <hr>
<!--ここまで-->
    
<!--ここから-->
          <dl>  
            <dt>2016.6.25</dt>
              <dd>
                <p>店舗情報投稿サイト「<%= link_to "お店の接客対応", root_path %>」オープン</p>
              </dd>
          </dl>
        <hr>
<!--ここまで-->


      </ul>
    <p><%= link_to "戻る", root_path, class: "btn btn-sm btn-info" %></p>
</div>
